.input-container{
    background-color: rgb(51, 51, 51);;
    max-width: 250px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.username-input{
    background-color: rgb(51, 51, 51);
    border: none;
    outline: none; 
    color: aliceblue;
    font-family: "Poppins", sans-serif;
}

.username-input::placeholder{
    color: aliceblue;
}

.login-button{
    border: none;
    background-color: aliceblue;
    border-radius: 2px;
    padding: 5px 10px;
    font-family: "Poppins", sans-serif;
}