.message-input-container{
    background-color: aliceblue;
    min-width: 550px;
    padding: 10px;
    
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 15px;
}

.message-input{
    background-color: aliceblue;
    border: none;
    outline: none; 
    color: black;
    font-family: "Poppins", sans-serif;
}

.message-input::placeholder{
    color: black;
}

.send-button{
    border: none;
    background-color:rgb(51, 51, 51);
    color: aliceblue;
    border-radius: 2px;
    padding: 5px 10px;
    font-family: "Poppins", sans-serif;
}

.message-send-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}